@{
    ViewData["Title"] = "My Library App";
}

<div class="text-center">
    <h1 class="display-4">My Library App</h1><br>
    <p>Welcome to my library app.</p>
    <p>Where you can catalog all of your books and their locations!</p>
</div>

